<!--
  Card component
  - Modular: can be included in any HTML page
  - Accessible: uses alt attributes for images and semantically correct headings
  - Responsive: adaptive layout via css/cards.css and css/responsive.css
  - See css/cards.css for styles
-->
<div class="card">
  <div class="card__img-wrapper">
    <img class="card__img" src="{{img}}" alt="Experience image" />
  </div>
  <div class="card__info">
    <div class="card__meta">
      <span class="card__icon card__icon--wine" title="Wine"><svg width="1em" height="1em" viewBox="0 0 320 512" fill="none"><path d="M232 464h-40.01v-117.3c68.52-15.88 118-79.86 111.4-154.1L287.5 14.5C286.8 6.25 279.9 0 271.8 0H48.23C40.1 0 33.22 6.25 32.47 14.5L16.6 192.6c-6.625 74.25 42.88 138.2 111.4 154.2V464H87.98c-22.13 0-40.01 17.88-40.01 40c0 4.375 3.625 8 8.002 8h208c4.377 0 8.002-3.625 8.002-8C272 481.9 254.1 464 232 464zM180.4 300.2c-13.64 3.16-27.84 3.148-41.48-.0371C91.88 289.2 60.09 245.2 64.38 197.1L77.7 48h164.6L255.6 197.2c4.279 48.01-27.5 91.93-74.46 102.8L180.4 300.2z" stroke="#888" stroke-width="32" fill="none"/></svg></span>
      {{icon_food}}
      {{icon_lotus}}
      <span class="card__icon card__icon--clock" title="Durata"><svg width="1em" height="1em" viewBox="0 0 24 24" fill="none"><circle cx="12" cy="12" r="9" stroke="#888" stroke-width="1.5" fill="none"/><path d="M12 7v5l3 3" stroke="#888" stroke-width="1.5" fill="none"/></svg></span><span class="card__duration">{{duration}}</span>
    </div>
    <h3 class="card__title">{{title}}</h3>
    <div class="card__divider"></div>
    <h4 class="card__desc">{{desc}}</h4>
    <div class="card__price-row">
      <div>
        <span class="card__price-label">PREZZO</span>
        <span class="card__price"><b>&euro;{{price}} a persona</b></span>
      </div>
      <span class="card__vat">{{vat}}</span>
    </div>
    <button class="card__btn">Dettagli <span class="card__btn-arrow" style="display:inline-flex;vertical-align:middle;"><svg xmlns="http://www.w3.org/2000/svg" width="1.7em" height="1.7em" fill="currentColor" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/></svg></span></button>
    </div>
  </div>
</div>